*.suo
*.user
_ReSharper.*
bin
obj
packages
API/ApexApi/.vs/ApexApi/DesignTimeBuild/.dtbcache.v2
API/ApexApi/.vs/ApexApi/FileContentIndex/2d326972-1be7-4817-9938-6ad2be937244.vsidx
API/ApexApi/.vs/ApexApi/FileContentIndex/9c5cd45e-7c9f-4d01-a7a0-cf557143aa88.vsidx
API/ApexApi/.vs/ApexApi/FileContentIndex/790e6656-aba1-4f03-a75b-d5eb1f85837c.vsidx
API/ApexApi/.vs/ApexApi/FileContentIndex/f6a33332-a5e2-463d-855a-33fc89b223df.vsidx
API/ApexApi/.vs/ApexApi/v17/.futdcache.v2
API/ApexApi/.vs/ApexApi/v17/.suo
API/ApexApi/bin/Debug/net8.0/ApexApi.dll
API/ApexApi/bin/Debug/net8.0/ApexApi.exe
API/ApexApi/bin/Debug/net8.0/ApexApi.pdb
API/ApexApi/obj/Debug/net8.0/ApexApi.AssemblyInfoInputs.cache
API/ApexApi/obj/Debug/net8.0/ApexApi.dll
API/ApexApi/obj/Debug/net8.0/ApexApi.pdb
API/ApexApi/obj/Debug/net8.0/apphost.exe
API/ApexApi/obj/Debug/net8.0/ref/ApexApi.dll
API/ApexApi/obj/Debug/net8.0/refint/ApexApi.dll
